/* Estilos personalizados aqui */
.social-links {
    margin-top: 20px;
}
.social-links .btn {
    margin-right: 10px;
}

/* Estilo adicional */
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.whatsapp img {
    max-width: 50px;
    height: auto;
}

/* Correção de cor */
#sobre,
#contato {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

/* Correção de cor das margens */
body {
    background-color: #343a40;
    padding-top: 20px;
}
